<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Create A Coffee')">

</head>
<body>

<nav th:replace="partials/partials :: bootstrap-nav"></nav>

<h1>Hello Create A Coffee</h1>

<fieldset class="postMiddleForm">

    <form th:action="@{/create}" th:method="post" th:object="${coffee}">
        <label for="roast">Roast:</label>
        <input type="text" id="roast" name="roast" th:field="*{roast}">
        <label for="coffeeName">Add a coffee name:</label>
        <input type="text" id="coffeeName" name="coffeeName" th:field="*{coffeeName}">
        <input type="submit" value="submit">
    </form>
</fieldset>




</body>
</html>