<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Login')">

</head>
<body>

<nav th:replace="partials/partials :: bootstrap-nav"></nav>

<!--<h1>Login you know you want too</h1>-->
<!--<div class="container">-->
<!--  <form class="form-section" th:action="@{/login}" method="post">-->
<!--    <div class="login-box">-->
<!--      <div th:if="${param.error}" class="invalidText">-->
<!--        <p>Invalid Username Or Password</p>-->
<!--      </div>-->
<!--      <h2>Log In</h2>-->
<!--      <input type="text" name="username" class="input-design" placeholder="Username">-->
<!--      <input type="password" name="password" class="password input-design" placeholder="Password">-->
<!--      <button class="login-button" type="submit" value="Log in">Login</button>-->
<!--      <a th:href="@{/register}">Sign Up</a>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->


<div class="containerLogin">
  <form class="form-section" th:action="@{/login}" method="post">
          <div th:if="${param.error}" class="invalidText">
            <p>Invalid Username Or Password</p>
          </div>
  <!-- Email input -->
  <div class="form-outline mb-4">
          <input type="text" name="username" class="input-design" placeholder="Username">
  </div>
  <!-- Password input -->
  <div class="form-outline mb-4">
          <input type="password" name="password" class="password input-design" placeholder="Password">
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" value="Log in">Sign in</button>
  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member?  <a th:href="@{/register}">Sign Up</a></p>
  </div>
</form>
</div>



<div th:replace="partials/partials :: scripts"></div>

</body>
</html>